<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
     <link rel="stylesheet" th:href="@{css/nav.css}">
<!--     <link rel="stylesheet" href="../static/css/nav.css">-->
</head>
<body> 
    <div class="main-container"> 
    <nav class="navbar">
        <div class="logo">
            <a href="#">MyLogo</a>
        </div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#login">Login</a></li>
        </ul>
    </nav>
    </div>
</body>
</html>
